html {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-style: italic;
  color: white;
}

ul {
  color: white;
  list-style-position: inside;
}

p {
  text-align: inherit;
}

body {
    position: 50%;
    background: #C142D0;
}

.flashy {
  font-style: italic;
  color: red;
  background-image: url(../img/cupcake-shoppe.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-position: 50%;
}

.best {
  color: gold;
}
